body {
  min-width: 585px;
  min-height: 800px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

#copy-to-clipboard {
  display: none;
}

.logo {
  width: 25px;
  height: 25px;
}
#banner {
  color: #19bf5b !important;
}

#pluginHeader{
  font-size: 25px;
}
.open-in-new-tab{
  font-size: 15px;
}

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border: 4px solid #007bff;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}